<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h1>Mohamed Eissa</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minima aut temporibus similique, voluptas sequi delectus placeat doloremque necessitatibus, pariatur, iure assumenda magnam libero aliquid? Necessitatibus repudiandae hic explicabo ad a vel rem maiores, modi sint, molestiae error nulla itaque debitis quis ea, tenetur impedit quibusdam fugiat mollitia cum vero!</p>
</body>
</html>